{% load static %}

<!-- jquery-confirm CSS -->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"/>-->

<!--===============================================================================================-->
<!--=========================================== Static CSS ========================================-->
<!--===============================================================================================-->

<!--  Static CSS: Main -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!--  Static CSS: Util -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">

<!--  Static CSS: Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

<!--  Static CSS: Cropper -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/cropper.css' %}">

<!--  Static CSS: Favicon.png -->
	<link rel="icon" type="image/png" href="{% static 'img/icons/favicon.png' %}"/>

<!--  Static CSS: Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<!--  Static CSS: Themify -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">

<!--  Static CSS: LinearIcons -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">

<!--  Static CSS: Elegant Font -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">

<!--  Static CSS: Animate -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">

<!--  Static CSS: Hamburgers -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/hamburgers.min.css' %}">

<!--  Static CSS: Animsition -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/animsition.min.css' %}">

<!--  Static CSS: Select 2 -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">

<!--  Static CSS: DateRangePicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">

<!--  Static CSS: Slick -->
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">

<!--  Static CSS: Lightbox -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">

<!--===============================================================================================-->