{% load static %}
{% load mptt_tags %}

<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<!--<div class="flex-w p-b-90">-->
		<div class="row pb-5">
			<!--<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">-->
			<div class="col-11 col-sm-5 col-lg-3 mt-3 mx-auto pb-5 respon3">
				<h4 class="s-text12 pb-4">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know what's on your mind through our social media.
						Correspondents would be happy to help.

					</p>

					<div class="flex-m pt-1">
                        <a href="https://www.instagram.com/oneoverthree.store/" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-twitter-square"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="col-11 col-sm-5 col-lg-3 mt-3 mx-auto order-lg-6 pb-5 respon3">
				<h4 class="s-text12 pb-3">
					Newsletter
				</h4>

				<form method="POST" action="/account/settings/newsletter/">
					{% csrf_token %}
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							Subscribe
						</button>
					</div>
				</form>
			</div>


			<div class="col-4 col-lg-2 mt-3 text-center respon4">
				<h4 class="s-text12 pb-4">
					Categories
				</h4>

				<ul>
					{% recursetree category_list %}
					<li class="p-b-9">
						<a href="{{ node.get_absolute_url }}" class="s-text7">
							{{ node.title }}
						</a>
					</li>
					{% if not node.is_leaf_node %}
					<li class="children">
						<a href="{{ children.get_absolute_url }}" class="p-b-9 s-text7">
							{{ children }}
						</a>
					</li>
					{% endif %}
					{% endrecursetree %}
				</ul>
			</div>


			<div class="col-4 col-lg-2 mt-3 text-center respon4">
				<h4 class="s-text12 pb-4">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="{{ search_url }}" class="s-text7">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="{{ contact_url }}" class="s-text7">
							Contact Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
				</ul>
			</div>

			<div class="col-4 col-lg-2 mt-3 text-center respon4">
				<h4 class="s-text12 pb-4">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div>


		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="{% static 'img/icons/paystack.png' %}" alt="IMG-PAYSTACK">
			</a>

			<a href="#">
				<img class="h-size2" src="{% static 'img/icons/visa.png' %}" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="{% static 'img/icons/mastercard.png' %}" alt="IMG-MASTERCARD">
			</a>

            <!--<a href="#">-->
				<!--<img class="h-size2" src="{% static 'img/icons/paypal.png' %}" alt="IMG-PAYPAL">-->
			<!--</a>-->


			<!--<a href="#">-->
				<!--<img class="h-size2" src="{% static 'img/icons/express.png' %}" alt="IMG-EXPRESS">-->
			<!--</a>-->

			<!--<a href="#">-->
				<!--<img class="h-size2" src="{% static 'img/icons/discover.png' %}" alt="IMG-DISCOVER">-->
			<!--</a>-->

            <div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | OBAA Global </a>
			</div>

			<!--<div class="t-center s-text8 p-t-20">-->
				<!--Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
			<!--</div>-->
		</div>
	</footer>
