{% load static %}

<!--===============================================================================================-->
<!--=========================================== Static JS ========================================-->
<!--===============================================================================================-->

 <!--jQuery.js-->
<!--<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--Cropper.js-->
<script type="text/javascript" src="{% static 'js/cropper.js' %}"></script>

<!--Popper.js-->
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>

<!--JQuery-Cropper.js-->
<!--<script type="text/javascript" src="{% static 'js/jquery-cropper.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/jquery-cropper.min.js' %}"></script>


<!--Bootstrap JS-->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!--Paystack.JS-->
<script src="https://js.paystack.co/v1/inline.js"></script>

<!--Django Secure AJAX.js-->
<script src="{% static 'js/csrf.ajax.js' %}"></script>

<!--Animsition.js-->
<script type="text/javascript" src="{% static 'js/animsition.min.js' %}"></script>

<!--Select 2.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<!--<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>-->
<!--<script type="text/javascript">-->
    <!--$(".selection-1").select2({-->
        <!--minimumResultsForSearch: 20,-->
        <!--dropdownParent: $('#dropDownSelect1'),-->
        <!--// theme: "bootstrap"-->
    <!--});-->

    <!--$(".selection-2").select2({-->
        <!--minimumResultsForSearch: 20,-->
        <!--dropdownParent: $('#dropDownSelect2'),-->
        <!--// theme: "bootstrap"-->
    <!--});-->
<!--</script>-->

<!--Slick.js-->
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>

<!--TinyMCE.js-->
<script src="{% static 'js/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tinymce-custom.js' %}" ></script>

<!--CountDownTime.js-->
<script type="text/javascript" src="{% static 'js/countdowntime.js' %}"></script>

<!--Moment.js-->
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>

<!--DateRangePicker.js-->
<script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>

<!--LightBox.js-->
<script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>

<!--SweetAlert.js-->
<script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
<script type="text/javascript">
    // Product Card Add
    $('.block2-btn-addcart').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "Added to cart !", "success");
        });
    });

    // Product Detail Add
    $('.product-detail-addcart').each(function(){
        var nameProduct = $(this).parent().parent().parent().parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "Added to cart !", "success");
        });
    });

    // Product Cart Update
    $('.product-updatecart').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "Cart updated !", "success");
        });
    });
    // Product Cart Remove
    $('.product-removecart').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "Removed from cart !", "error");
        });
    });
    // Product Wishlist Add
    $('.block2-btn-addwishlist').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
            swal(nameProduct, "is added to wishlist !", "success");
        });
    });
</script>

<!--Parallax100.js-->
<script type="text/javascript" src="{% static 'js/parallax100.js' %}"></script>
 <script type="text/javascript">
     $('.parallax100').parallax100();
 </script>

<!--===============================================================================================-->


<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2320617424841002');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2320617424841002&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<script id="mcjs">!function(c,h,i,m,p){
    m=c.createElement(h),
        p=c.getElementsByTagName(h)[0],
        m.async=1,
        m.src=i,
        p.parentNode.insertBefore(m,p)
}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ce079a0c1fe8569c177058498/dd94404bbe4ba9df3b99d010d.js");
</script>
