{% load mptt_tags %}


<!-- Menu Mobile -->
<div class="wrap-side-menu" >
    <nav class="side-menu">
        <ul class="main-menu">
            {% if user.is_authenticated %}
            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <div class="topbar-child2-mobile">
                    <span class="topbar-email">
                        Hello, {{ user.first_name }}
                    </span>
                </div>
            </li>
            {% endif %}

            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <span class="topbar-child1">
                    Free shipping within Lagos for standard order over ₦12,000
				</span>
            </li>

            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <span class="topbar-child1">
                    Free shipping within Nigeria for standard order over ₦20,000
				</span>
            </li>

            <li class="item-topbar-mobile p-l-10">
                <div class="topbar-social-mobile">
                    <a href="https://www.instagram.com/oneoverthree.store/" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-twitter-square"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </li>

            <!--<li class="item-menu-mobile">-->
                <!--<a href="index.html">Home</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li><a href="index.html">Homepage V1</a></li>-->
                    <!--<li><a href="home-02.html">Homepage V2</a></li>-->
                    <!--<li><a href="home-03.html">Homepage V3</a></li>-->
                <!--</ul>-->
                <!--<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>-->
            <!--</li>-->

            <!--Menu-->
            <li class="navigation-menu-mobile">
                <a>Menu</a>
                <ul class="sub-menu">
                    <li class="{% if request.path == home_url %}active{% endif %}">
                        <a href="{{ home_url }}">Home</a>
                    </li>

                    <li class="{% if request.path == store_url %}active{% endif %}">
                        <a href="{{ store_url }}">Outlet</a>
                    </li>

                    <!--<li class="item-menu-mobile">-->
                    <!--<a href="product.html">Sale</a>-->
                    <!--</li>-->

                    <li class="{% if request.path == blog_url %}active{% endif %}">
                        <a href="#">Blog</a>
                    </li>

                    <li class="{% if request.path == about_url %}active{% endif %}">
                        <a href="#">About</a>
                    </li>

                    <li class="{% if request.path == contact_url %}active{% endif %}">
                        <a href="{{ contact_url }}">Contact</a>
                    </li>

                    <li class="{% if request.path == marketplace_url %}active{% endif %}">
                        <a href="{{ marketplace_url }}">Marketplace</a>
                    </li>
                </ul>
                <i class="arrow-main-menu fa fa-bars"></i>
            </li>

            <!--Categories item-menu-mobile-->
            <li class="category-menu-mobile">
                <a>Categories</a>
                <ul class="sub-category">
                    {% with category_list as category %}
                    {% recursetree category %}
                    <li>
                        <a href="{{ node.get_absolute_url }}">
                            {{ node.title }}
                        </a>
                        {% if not node.is_leaf_node %}
                        <ul class="micro-menu children">
                            {{ children }}
                        </ul>
                        <i class="arrow-micro-menu fa fa-angle-right" aria-hidden="true"></i>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                    {% endwith %}
                </ul>
                <i class="arrow-category-menu fa fa-list-ul"></i>
            </li>
        </ul>

    </nav>
</div>