{% load static %}
<!--master-slide-06-->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				{% for store in marketplace %}
				{% if store.featured %}
				<div class="item-slick1 item1-slick1" style="background-image: url({{ store.slider_image.url }});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
							{{ store.title }}
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
							{{ store.description }}
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="{{ store.get_absolute_url }}" class="flex-c-m size2 bo-rad-23 s-text1 bgblack hov1 trans-0-4">
								Shop Now
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>



	<section class="slide1">
		<!--<div class="wrap-slick1">-->
			<!--<div class="slick1">-->
				<!--<div class="item-slick1 item1-slick1" style="background-image: url({% static 'img/slider/hemarblack.jpg' %});">-->
					<!--<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">-->
						<!--<h2 class="caption1-slide1 xl-text2 t-center p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">-->
							<!--HEMARBLACK-->
						<!--</h2>-->

						<!--<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">-->
							<!--Redefining Bespoke-->
						<!--</span>-->

						<!--<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">-->
							<!--&lt;!&ndash; Button &ndash;&gt;-->
							<!--<a href="{{ store_url }}" class="flex-c-m size2 bo-rad-23 s-text1 bgblack hov1 trans-0-4">-->
								<!--Shop Now-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="item-slick1 item2-slick1" style="background-image: url({% static 'img/slider/walkr.jpg' %});">-->
					<!--<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">-->
						<!--<h2 class="caption1-slide1 xl-text2 t-center p-b-6 animated visible-false m-b-22" data-appear="rollIn">-->
							<!--WALKR-->
						<!--</h2>-->

						<!--<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">-->
							 <!--YOUNG & BEAUTIFUL Collection-->
						<!--</span>-->

						<!--<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">-->
							<!--&lt;!&ndash; Button &ndash;&gt;-->
							<!--<a href="{{ store_url }}" class="flex-c-m size2 bo-rad-23 s-text1 bgblack hov1 trans-0-4">-->
								<!--Shop Now-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="item-slick1 item1-slick1" style="background-image: url({% static 'img/slider/ezra.jpg' %});">-->
					<!--<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">-->
						<!--<h2 class="caption1-slide1 xl-text2 t-center p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">-->
							<!--EZRA-->
						<!--</h2>-->

						<!--<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">-->
								<!--Awesome Bespoke Shoes-->
							<!--</span>-->

						<!--<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">-->
							<!--&lt;!&ndash; Button &ndash;&gt;-->
							<!--<a href="{{ store_url }}" class="flex-c-m size2 bo-rad-23 s-text1 bgblack hov1 trans-0-4">-->
								<!--Shop Now-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->
	</section>
