{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block content %}
{% if object.background_image_b %}
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({{ object.background_image_b.url }});">
    <h2 class="l-text2 t-center">
        {{ object.title }}
    </h2>
    <p class="m-text13 t-center">
        {{ object.description }}
    </p>
{% else %}
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({% static 'img/men.jpg' %});">
    <h2 class="l-text2 t-center">
		{{ slug }}
	</h2>
{% endif %}
</section>


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
	<div class="container">
		<div class="row">
			<!--Left-Bar-->
			<div class="col-12 col-md-2 order-12 order-md-1">
				<!--Category-->
				<div class="row p-b-20">
					<!--  -->
					<div class="col-4 col-md-12 text-center">
						<h4 class="m-text14 p-b-7">Categories</h4>
						<ul>
							{% recursetree category_list %}
							<li class="p-t-4">
								<a href="{{ node.get_absolute_url }}" class="s-text13">
									{{ node.title }}
								</a>
								{% if not node.is_leaf_node %}
								<ul class="children">
									<a href="{{ children.get_absolute_url }}" class="s-text13">
										{{ children }}
									</a>
								</ul>
								{% endif %}
							</li>
							{% endrecursetree %}
						</ul>
					</div>

					<div class="col-4 col-md-12 mt-md-3 text-center">
						<h4 class="m-text14 p-b-7">Brands</h4>
						<ul>
							{% for brand in brand_list %}
							<li class="p-t-4">
								<a href="{{ brand.get_absolute_url }}" class="s-text13">
									{{ brand }}
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>

                    <div class="col-4 col-md-12 mt-md-3 text-center">
						<h4 class="m-text14 p-b-7">Links</h4>
						<ul>
							<li class="p-t-4">
								<a href="{{ home_url }}" class="s-text13">
									Home
								</a>
							</li>
                            <li class="p-t-4">
								<a href="{{ store_url }}" class="s-text13">
									Outlet
								</a>
							</li>
                            <li class="p-t-4">
								<a href="{{ marketplace_url }}" class="s-text13">
									Marketplace
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!--Right/Main section Category-->
			<div class="col-12 col-md-10 mt-2 order-1">

				<!-- Product Section -->
                <section class="allproduct bgwhite mb-5">

                    <!--Section Header-->
                    <div class="sec-title p-b-15">
                        {% if object %}
                        <h3 class="m-text5 t-center">
                            All {{ slug }} products
                        </h3>
                        {% else %}
                        <h3 class="m-text5 t-center">
                            All {{ slug }} in store
                        </h3>
                        {% endif %}
                    </div>

                    <!--Search box-->
                    <div class="search-product pos-relative bo4 mb-2 of-hidden">
                        <form method='GET' action='{% url "search:query" %}' class="form my-2 my-lg-0 search-form">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="q" placeholder="Search Products..." value='{{ request.GET.q }}'>
                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>

                    <!-- Pagination Breadcrumb -->
                    <div class="row">
                        <span class="col-12 text-right s-text8 p-t-15 p-b-10">
                            {% with obj=object_list %}
                            Showing {{ obj.start_index }} – {{ obj.end_index }} of {{ paginator.count }} results
                            {% endwith %}
                        </span>
                    </div>

                    <!-- Product -->
                    <div class="row">
                        {% for object in object_list %}
                        <div class="col-6 col-sm-6 col-md-6 col-lg-4 p-b-50">
                        {% include 'store/snippets/card.html' with instance=object %}
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination Breadcrumb -->
                    <div class="row">
                        <span class="col-12 text-right s-text8 p-t-15 p-b-10">
                            {% with obj=object_list %}
                            Showing {{ obj.start_index }} – {{ obj.end_index }} of {{ paginator.count }} results
                            {% endwith %}
                        </span>
                    </div>
                </section>

				<!-- Pagination -->
			    {% if object_list.has_other_pages %}
				<div class="pagination flex-m flex-w p-t-26">
					<!--<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>-->
					<!--<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>-->
					{% for i in object_list.paginator.page_range %}
					{% if object_list.number == i %}
					<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ i }}</a>
					{% else %}
					<a href="?page={{ i }}" class="item-pagination flex-c-m trans-0-4">{{ i }}</a>
					{% endif %}
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% endblock %}
