{% extends "base.html" %}
{% load static %}


{% block content %}


    <!-- Slider -->
    <div class="row">
        <div class="col-12 col-md-8 mr-md-auto col-lg-5">
            <section class="bg-title-page flex-col-c-m" style="background-image: url({% static 'img/bg-banner-01.png' %});">
            </section>
        </div>

        <div class="col-12 col-lg-2 my-5 my-lg-auto">
            <div class="w-size1 mx-auto">
                <!-- Button -->
                <a href="{{ marketplace_url }}" class="flex-c-m size2 bo-rad-23 s-text1 bgblack hov1 trans-0-4">
                    Marketplace
                </a>
            </div>
        </div>

        <div class="col-12 col-md-8 ml-md-auto col-lg-5">
            <section class="bg-title-page flex-col-c-m" style="background-image: url({% static 'img/bg-banner-02.jpg' %});">
            </section>
        </div>
    </div>

    <!-- Banner -->
    {% include 'base/banner.html' %}
    <!-- Shipping -->
    {% include 'base/shipping.html' %}

{% endblock %}

