<section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Related Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <img src="{{ instance.image_a.url }}" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <form class="form-product-ajax block2-btn-addcart w-size1 trans-0-4" method='POST' action="{% url 'cart:add' %}" data-endpoint="{% url 'cart:add' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ instance.id }}" />
                                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="{{ instance.get_absolute_url }}" class="block2-name dis-block s-text3 p-b-5">
                                {{ instance.title }}
                            </a>

                            <span class="block2-price m-text6 p-r-5">₦{{ instance.price }}</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

