{% extends "accounts/home.html" %}
{% load static %}

{% block header %}
{{ form.tags.media.css }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
{% endblock %}


{% block panel %}
<div>
    <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="statistics-tab" href="{% url 'account:dashboard:home' %}" role="tab" aria-selected="false">Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="product-list-tab" href="{% url 'account:dashboard:products' %}" role="tab" aria-selected="false">Products</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!--Store Statistics-->

        <!--Orders Tab-->
        <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <div class="row">
                <div class="container">
                    <!--Pending Orders-->
                    <div class="col-12 mt-4">
                        <form method="POST" action="{% url 'account:dashboard:order-processing' %}">
                            {% csrf_token %}
                            <div class="col-12 col-md-6 mt-4 ">
                                <h5 class="m-text20 p-b-10"> All Pending Orders </h5>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in pending_orders %}
                                <tr>
                                    <!--<td><a href="{{ object.get_absolute_url }}">{{ object.order_id }}</a></td>-->
                                    <td>{{ object }}</td>
                                    <td>{{ object.order.order_id }}</td>
                                    <td>{{ object.size }}</td>
                                    <td>{{ object.quantity }}</td>
                                    <td>
                                        <label class="custom-control custom-checkbox">
                                            <input class="custom-control-input"  value="{{ object.id }}" type="checkbox" name="process_ids">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3"><p>There are no pending orders.</p></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!--Process Button-->
                            <div class="row">
                                <div class="ml-auto">
                                    <div class="size10 trans-0-2 mt-1 m-b-10 mr-1 mx-auto py-1">
                                        <!-- Button -->
                                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
                                            PROCESS
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--Processing Orders-->
                    {% if processing_orders %}
                    <div class="col-12 m-t-45">
                        <form method="POST" action="{% url 'account:dashboard:order-shipped' %}">
                            {% csrf_token %}
                            <div class="col-12 col-md-6 mt-4 ">
                                <h5 class="m-text20 p-b-10"> All Processing Orders </h5>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in processing_orders %}
                                <tr>
                                    <!--<td><a href="{{ object.get_absolute_url }}">{{ object.order_id }}</a></td>-->
                                    <td>{{ object }}</td>
                                    <td>{{ object.order.order_id }}</td>
                                    <td>{{ object.size }}</td>
                                    <td>{{ object.quantity }}</td>
                                    <td>
                                        <label class="custom-control custom-checkbox">
                                            <input class="custom-control-input"  value="{{ object.id }}" type="checkbox" name="process_ids">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3"><p class="lead">No pending orders.</p></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="ml-auto">
                                    <div class="size10 trans-0-2 m-t-5 m-b-10 mr-1 mx-auto py-1">
                                        <!-- Button -->
                                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
                                            Shipped
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}

                    <!--Completed Orders-->
                    {% if completed_orders %}
                    <div class="col-12 m-t-45">
                        <div class="col-12 col-md-6 mt-4 ">
                            <h5 class="m-text20 p-b-10"> All Completed Orders </h5>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Order Id</th>
                                <th scope="col">Status</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for object in completed_orders %}
                            <tr>
                                <td>{{ object }}</td>
                                <td>{{ object.order.order_id }}</td>
                                <td>
                                    {% if object.status == "completed" %}
                                    <span class="badge badge-success">{{ object.status }}</span>
                                    {% else %}
                                    <span class="badge badge-warning">{{ object.status }}</span>
                                    {% endif %}
                                </td>
                                <td>₦{{ object.total_price }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <th scope="row">1</th>
                                <td colspan="3"><p class="lead">No completed orders.</p></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!--Product List Tab-->

    </div>
</div>
{% endblock %}

