{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'img/men.jpg' %});">
		<h2 class="l-text2 t-center">
			Contact
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<!--<div class="col-md-6 p-b-30">-->
					<!--<div class="p-r-20 p-r-0-lg">-->
						<!--<div class="contact-map size21" id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="col-md-6 p-b-30">-->
				<div class="col-md-10 p-b-30">
					<form class="leave-comment" method="POST" action="{% url 'contact' %}">
						{% csrf_token %}
						<h4 class="m-text26 p-b-36 p-t-15">
							Send us your message
						</h4>

						<!--{{ form.as_p }}-->


						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="fullname" placeholder="Full Name" required="" id="id_fullname">
						</div>

						<!--<div class="bo4 of-hidden size15 m-b-20">-->
							<!--<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Phone Number">-->
						<!--</div>-->

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="email" name="email" placeholder="Email" required="" id="id_email">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="subject" placeholder="Subject" required="" id="id_subject">
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="content" placeholder="Enter Message" id="id_content"></textarea>

						<div class="w-size25 m-t-20">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Send
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}