{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="cart text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-5 mb-2">Your Shopping Cart</h2>
                <p class="mb-5"><span class="primary-color">{{ cart|length }}</span> Items in your cart</p>

                <!--Cart Table-->
                {% include 'cart/snippets/checkout-cart-table.html' %}

                <div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
                    <h5 class="m-text20 p-b-24">
                        Finalize Checkout
                    </h5>

                    <p>Order Summary</p>

                    <!--  -->
                    <div class="flex-w flex-sb-m bo10 p-t-12 p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Cart <br>Total:
                        </span>
                        <span class="m-text21 w-size20 w-full-sm">
                            ₦{{ cart.get_total }}
                            <p>(Excluding Delivery)</p>
                        </span>
                    </div>
                    <div class="flex-w flex-sb-m  p-t-12 p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Shipping Address:
                        </span>
                        <span class="m-text21 w-size20 w-full-sm">
                            <p>{{ object.shipping_address.get_address | linebreaks }}</p>
                        </span>
                    </div>
                    <div class="flex-w flex-sb-m bo10 p-t-12 p-b-12">
                        <span class="s-text18 w-size19 w-full-sm">
                            Shipping <br>Total:
                        </span>
                        <span class="m-text21 w-size20 w-full-sm">
                            ₦{{ object.shipping_total }}
                        </span>
                    </div>
                    <div class="flex-w flex-sb-m p-t-12 p-b-15">
                        <span class="s-text18 w-size19 w-full-sm">
                            Order Total:
                        </span>
                        <span class="m-text21 w-size20 w-full-sm">
                            ₦{{ object.total }}
                        </span>
                    </div>
                    <form class="size10 trans-0-2 m-t-10 m-b-10 mx-auto" method="POST" action="{% url 'billing-payment-method' %}">
                        {% csrf_token %}
                        <!-- Button -->
                        <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
                            CHECKOUT
                        </button>
                    </form>
                </div>

                <div class="divider p-t-15 p-b-20"></div>

            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

{% endblock %}

<!--pastack-billing-payment-method-endpoint-->

